body {background-color: #FFFFBB;
      font-family: sans;
      font-size: 150%;}
header {display: None;
        font-family: sans;
        font-size: large;}
header img{display: inline;
	   background-color: green;display: inline;}
main{
  margin: auto;
  text-align: center;}
.button {
    display: table-cell;
    margin: 0.5em;
    border: solid black 1px;
    background-color: gray;}
.button img{display: table-cell;}

.small {
    font-size: small}

footer {
  text-align: center;
  border-top: 1px solid gray;
  font-size: x-small;}
