{% extends "index.html" %}
{% block title %}Hose{% endblock %}
{% block main %}<a href="{{url_for('index')}}" class=small>Home</a>
<h1>Hose</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
    {% endwith %}
  {% if error %}
  <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}

    <form name="hose_form" method="post">
      <dl>
  <dt>Hosen<dt/><dd><input type=text name=id_hose></dd>
  <dt>Hosenträger<dt/><dd><input type=text name=id_hosentraeger  onChange="document.forms['hose_form'].submit();"></dd>
      </dl>
      <input type=submit value=Fertig>
</form>
<script type="text/javascript" language="JavaScript">
  document.forms["hose_form"].elements['id_hose'].focus();
</script>
{% endblock %}
