<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/static/jacket.svg" sizes="any">
    <link rel="icon" href="/static/jacket.png" type="image/png">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    <title>{% block title %}Jacke wie Hose{% endblock %}</title>
    <link rel="manifest" href="{{url_for('static', filename='app.webmanifest')}}">
  </head>
  <body>
    <header>
      <a href="/">LOGOHERE</a><p>Jacke wie Hose</p>
    </header>
    <main>{% block main %}
      {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
    {% endwith %}
  {% if error %}
  <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}

      <p class=small>Kleidernummer: {{sybos_num}} (<a href="{{ url_for('logout')  }}">log out</a>)</p>
      <p>Bitte wählen Sie das zu waschende Kleidungsstück aus:</p>
      <table style="margin:auto"><tr>
          <td><a href="/jacke" class=button>
        <img src="{{url_for('static', filename='jacket.svg')}}" width=310px />
          </a></td>
          <td><a href="/hose" class=button>
        <img src="{{url_for('static', filename='trousers.svg')}}" width=300px />
      </a></td>
      </tr></table>
{% endblock %}
    </main>
    <footer>
      ♡ <a href="https://gitlab.com/sspaeth/jackewiehose">Sebastian Späth</a>, licensed under the GNU AGPL
  </footer>
  </body>
</html>
