{% extends "index.html" %}
{% block title %}Jacke{% endblock %}
{% block main %}<a href="{{url_for('index')}}" class=small>Home</a>
<h1>Jacke</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
    {% endwith %}
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<form name="jacke_form" method="post">
  <dl>
    <dt>Jacke</dt><dd><input type=text name=id_jacke value="{{ 
request.form.id_jacke }}"/></dd>
    <dt>Schlaufe</dt><dd><input type=text name=id_schlaufe /></dd>
    <dt>Karabiner</dt><dd><input type=text name=id_karabiner onChange="document.forms['jacke_form'].submit();"></dd>
    </dl>
  <p><input type=submit value=Fertig></p>
</form>
<script type="text/javascript" language="JavaScript">
  document.forms["jacke_form"].elements['id_jacke'].focus();
</script>
{% endblock %}
