{% extends "index.html" %}
{% block title %}Hose{% endblock %}
{% block main %}<h1>Login</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
    {% endwith %}
  {% if error %}
  <p class=error><strong>Error:</strong> {{ error }}</p>
  {% endif %}
    Kleidernummer scannen<br/>(666 zum Testen):
    <form name="login_form" method="post">
      <input type=text name=sybos_num  onChange="document.forms['login_form'].submit();">
      <p><input type=submit value=Login>
</form>
<script type="text/javascript" language="JavaScript">
  document.forms["login_form"].elements['sybos_num'].focus();
</script>
{% endblock %}
